<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-card class="error-card shadow rounded">
        <mat-card-header class="d-flex justify-content-center mb-3">
          <mat-card-title class="d-flex justify-content-center">404 Page Not Found</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center mb-3">
          <p>The page you are looking for doesn't exist or another error occurred.</p>
          <p>Go back, or head over to the home page to choose a new direction.</p>
        </mat-card-content>
        <mat-card-actions class="justify-content-center">
          <a mat-raised-button color="warn" routerLink="/">Go Home</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
